.aa{
    padding-top: 6.2rem;
  
}
h4{
    background-color: rgba(156, 159, 159, 0.553);
   width: 255px;
   height: 30px;
   border-radius: 10px;
   font-size:22px;
   justify-content: center;
   align-items: center;
   display: flex;
   margin: 0 auto;
}