.o_nas {
    margin-top: 30px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    height: 440px;
    background-image: url(../../img/1111.jpg);
    background-size: cover;
    width: 1708px;

    p {
        margin: 0px 45px;

        width: 650px;
        font-size: 40px;
        letter-spacing: 0.2em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
        color: rgb(255, 255, 255);
    }





    img {
        padding-right: 30px;
    }

    span {
        font-size: 19px;
    }
}

.b {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 0, 0, 0.859);
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 45px;
    animation: b 2s ease-in-out infinite;
    position: relative;
    top: 0;

    a {
        color: #fff;
        text-decoration: none;
    }

}

@keyframes b {
    25% {
        margin-right: 0rem;
    }

    50% {
        margin-left: 2rem;
    }

    100% {
        margin-right: 2rem;
    }

}