.footer {
    // width: 1750px;
    width: 1708px;
    height: 70vh;
    border-radius:0px 0px 20px 20px;
    background-color:rgb(3, 165, 165);
    border: 2px solid rgb(3, 165, 165);
    margin-top: -5rem;
}

.con {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-bottom: 2rem;

    h3 {
        line-height: 90px;
        font-weight: 600;
    }
    p{
        font-weight: 500;
        font-size: 18px;
        
    }

  
   

}

.end {
    display: flex;
    justify-content: center;
    line-height: 120px; 
    font-weight: 500;
    font-size: 18px;
}