.footer {
    width: 1708px;
    height: 70vh;
    border-radius: 20px;
    background: linear-gradient(180deg, #ffffff 0%, rgb(0, 136, 136)100%, );
}

.con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    padding-top: 3rem;

    h3 {
        line-height: 90px;
        font-weight: 600;
    }
    p{
        font-weight: 500;
        font-size: 18px;
        
    }

    .b1 {
        padding-top: 5rem;
    }

    .b2 {
        h4 {
            line-height: 70px;
        }

    }

}

.end {
    display: flex;
    justify-content: center;
    line-height: 120px; 
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
}