@import url(./components/Footer/Footer.module.scss);



body{
  padding: 0rem 6rem ;
}
.sun {
  background-color: white;
    color: #000000c0;
    
}
*{
  font-family: 'Times New Roman', Times, serif;
}
.night {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-radius:0px 0px 20px 20px;

 
  
  
}

.App{
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
}

