body{
  padding: 0rem 6rem ;
}
.sun {
  background-color: white;
    
}
*{
  font-family: 'Times New Roman', Times, serif;
}
.night {
  background-color: rgb(68, 67, 67);

  .Navbar{
      background-color: white;
  }
  
  
}

.App{
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
}

